/* 
   Yammer dashlet CSS
*/
.yammer-dashlet > .scrollableList
{
    padding-top: 0;
}
.yammer-dashlet div.detail-list-item
{
   min-height: 48px; /* No smaller that profile images */
}
.yammer-dashlet > .body div.yammer-dashlet-messages
{
   padding-left: 0;
   padding-right: 0;
}
.yammer-dashlet-connect {
	text-align: center;
    background-color: #FFFBDD;
    border-bottom: 1px solid #DDD6A0;
    padding-top: 8px;
    padding-bottom: 8px;
}
.yammer-dashlet-connect div {
	margin-bottom: 1em;
}
.yammer-message {
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
}
.yammer-message-bd
{
   padding-bottom: 0.2em;
}
.yammer-message-bd,
.yammer-message-postedOn
{
	margin-left: 56px;
}
.yammer-message div.yammer-message-postedOn,
.yammer-message div.yammer-message-postedOn a,
.yammer-message div.yammer-message-postedOn a:link,
.yammer-message div.yammer-message-postedOn a:hover,
.yammer-message div.yammer-message-postedOn a:visited
{
   color: #999999;
}
.yammer-dashlet .user-icon
{
   float: left;
}
.yammer-dashlet-utils {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 90%;
}
.yammer-reply-link
{
	display: inline-block;
	background-image: url('../../../components/images/reply-to-discussion-16.png');
	width: 16px;
	height: 16px;
	overflow: hidden;
}
.yammer-reply-link span
{
	display: inline-block;
	visibility: hidden;
	width: 16px;
	height: 16px;
	overflow: hidden;
}